[user]
	email = inigomaringarcia@gmail.com
	name = Iñigo Marin
    user = InigoMarin
[credential]
	helper = cache --timeout=3600

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[core]
	excludesfile = /home/ima/.gitignore
