#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.


if [ "$XDG_SESSION_DESKTOP" = dwm-mio ]
then
    # Fix Gnome Apps Slow  Start due to failing services
    # Add this when you include flatpak in your system
    dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY


    xset r rate 300 50 &	# Speed xrate up
    unclutter &		# Remove mouse when idle

    # Start compton
    #compton --config ~/.config/compton/config &
    compton &

    # Start notification daemon
    dunst &

    # Set wallpaper
    #feh --bg-fill $HOME/wallpapers/juego-de-tronos1.jpg &
    feh --bg-fill --randomize "$HOME"/wallpapers/* &
fi

# Start mpd service
mpd "$HOME"/.mpd/config &

# mpd Music caratules
sleep 4 && pDris2 &

